<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MTGAHelper.Web.UI.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" />

      <security>
        <dynamicIpSecurity>
          <denyByConcurrentRequests enabled="true" maxConcurrentRequests="15"  />
          <denyByRequestRate enabled="true" maxRequests="40" requestIntervalInMilliseconds="10000" />
        </dynamicIpSecurity>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2df23875-3d46-42da-a31c-508acb6f92a3-->